third_party/emsdk/python/
third_party/emsdk/node/
third_party/emsdk/downloads/
third_party/emsdk/upstream/
third_party/emsdk/zips/

!third_party/emsdk/emsdk
!third_party/emsdk/emsdk.py
!third_party/emsdk/emsdk_env.sh
!third_party/emsdk/emscripten-releases-tags.json
!third_party/emsdk/emsdk_manifest.json

build/
dist/
python/dist/
python/colopresso/
electron_dist/
node_modules/

.DS_Store
Thumbs.db
