/assets/*
!/assets/increase.png
!/assets/example.png
!/assets/example_reduce.png
!/assets/banding.png
!/assets/16bit.png
!/assets/128x128.png
/build
/Testing
/dist
/dist_build
/app/shared/dist
/app/**/*.js
/node_modules
/.pnpm-store
/library/pngx_bridge/generated
/library/pngx_bridge/target
/.venv
/_codeql_detected_source_root
/quality
*.DS_Store
Thumbs.db
